<header>
    <a href="#"><h1>Jackson Hart</h1></a>

    <nav id="navbar">
        <ul class="navlist">
            <li class="navlink-active"><a href="/">Home</a></li>
            <li class="navlink"><a href="/projects">Projects</a></li>
            <li class="navlink"><a href="/experience">Experience</a></li>
            <li class="navlink"><a href="/blog">Blog</a></li>
            <li class="navlink"><a href="/resume">Resume</a></li>
        </ul>
    </nav>
</header>