<header>
    <a href="#"><h1 class="site-title">Jackson Hart</h1></a>

    <nav id="navbar">
        <ul class="navlist">
            <li class="navitem navlink-active"><a href="/">Home</a></li>
            <li class="navitem navlink"><a href="/projects">Projects</a></li>
            <li class="navitem navlink"><a href="/experience">Experience</a></li>
            <li class="navitem navlink"><a href="/blog">Blog</a></li>
            <li class="navitem navlink"><a href="/resume">Resume</a></li>
            <li class="navitem navlink"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>