<header>
    <a href="#"><h1 class="site-title">Jackson Hart</h1></a>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink-active"><a href="#">Home</a></li>
            <li class="navitem navlink"><a href="#">Projects</a></li>
            <li class="navitem navlink"><a href="#">Experience</a></li>
            <li class="navitem navlink"><a href="#">Blog</a></li>
            <li class="navitem navlink"><a href="#">Resume</a></li>
            <li class="navitem navlink"><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>