<header>
    <a href="#"><h1>Jackson Hart</h1></a>

    <nav id="navbar">
        <ul class="navlist">
            <li class="navlink-active"><a href="/">Home</a></li>
            <li class="navlink"><a href="/projects">Projects</a></li>
            <li class="navlink"><a href="/experience">Experience</a></li>
            <li class="navlink"><a href="/blog">Blog</a></li>
            <li class="navlink"><a href="/resume">Resume</a></li>
        </ul>

        <a target="_blank" href="https://www.linkedin.com/in/jackson-hart591/"><img alt="LinkedIn link" src="/images/LI-In-Bug.png" width="32" height="27"/></a>
        <a target="_blank" href="https://github.com/jackhart591"><img alt="GitHub link" src="/images/GitHub-Mark-32px.png"/ width="32" height="32"></a>
    </nav>
</header>