<div id="exp-div">
    {{> workExp title='Intern - Booz Allent Hamilton' date='June 2023 - September 2023' desc='
        <li>Decreased data generation times by 2 months</li>
        <li>Generated multiple visualizations of 100+ dimensional data</li>
        <li>Developed 5 minute verification process for data that would be verified by hand</li>
        <li>Developed new data optmization algorithm with average 98% accuracy</li>
    '}}

    {{> workExp title='Research Project Assistant - Oregon State University' date='June 2021 - July 2024' desc='
        <li>Designed and developed major features for AR/VR projects</li>
        <li>Worked on research paper published by IEEE</li>
        <li>Expanded user interaction capabilities</li>
        <li>Developed in fast-paced Scrum environment</li>
    '}}

    {{> workExp title="President - International Game Developer's Association Student Chapter" date='June 2022 - June 2025' desc='
        <li>Managed chapter with over 40 active members</li>
        <li>Planned and hosted 10 game jams resulting in over 75 games</li>
        <li>Started community outreach initiative</li>
    '}}

    {{> workExp title="Camp Instructor - iD Tech" date='April 2023 & March 2024' desc='
        <li>Taught a group of 9 kids aged 8-12</li>
        <li>Taught Unity game development and basic game development principles</li>
        <li>Tested new potential courses</li>
    '}}

    {{> workExp title='Tour Ambassador - Oregon State University' date='March 2023 - June 2025' desc='
        <li>Commmunicated my experiences at OSU to prospective students</li>
        <li>Maintained and managed Welcome Center space</li>
        <li>Directed students to appropriate offices on campus</li>
    '}}

    {{> workExp title='Head Colorguard Coach - Sprague High School' date='September 2021 - April 2022' desc='
        <li>Taught team of 7 students with no prior experience</li>
        <li>Wrote and taught their competition choreography</li>
    '}}

    {{> workExp title='Technology Specialist - Target' date='April 2020 - July 2021' desc='
        <li>Kept up to date on consumer tech so guests could use me as a resource</li>
        <li>Managed electronics section with little to no supervision</li>
    '}}

    {{> workExp title='Captain - Sprague Robotics Team' date='September 2018 - June 2020' desc="
        <li>Created a sustainable club to further my school's STEM program</li>
        <li>Led a team of 12 people to 1st place in our division</li>
    "}}

    {{> workExp title='Team Member - Enchanted Forest' date='July 2018 - August 2019' desc='
        <li>Managed BBQ restaurant with no supervision</li>
        <li>Managed teams of up to 4 people every day</li>
    '}}
</div>

<section id="class-exp">
    <h1 class="section-heading">Classes Taken</h1>
    <p id="scraper-desc">
        This was generated dynamically using a web scraper and Handlebars. To see the source code, go to the projects tab and
        click the github link for this website. The source code is found in /crawler.js and /server.js.
    </p>
    {{#each classes}}
        {{> class}}
    {{/each}}
</section>