<div id="exp-div">
    {{> workExp title='Research Project Assistant - Oregon State University' date='June 2021 - Present' desc='
        I designed and developed various features that expanded user interaction for our
        application which explores new applications of virtual reality using an agile
        framework.
    '}}

    {{> workExp title='President - Oregon State Video Game Development Club' date='June 2022 - Present' desc='
        As president, with the help of my officers, my goal is to provide opportunities
        for our members to network and participate in game jams both through arranging
        trips to game jams in Portland as well as hosting our own game jams at OSU.
    '}}

    {{> workExp title='Head Colorguard Coach - Sprague High School' date='September 2021 - April 2022' desc='
        I was in charge of teaching a team with no prior experience colorguard fundamentals
        as well as writing and teaching them their choreography for both their fall marching
        band show as well as their winter guard show.
    '}}

    {{> workExp title='Technology Specialist - Target' date='April 2020 - July 2021' desc='
        My job was to manage the electronics section, which meant helping guests, stocking
        shelves, and keeping up with consumer tech so that I can be a knowledgable source.
    '}}

    {{> workExp title='Captain - Sprague Robotics Team' date='September 2018 - June 2020' desc="
        I took up being captian in the third year of this club's existance, so my goal as
        captain was to create a sustainable club that would last past my time in high school.
    "}}

    {{> workExp title='Team Member - Enchanted Forest' date='July 2018 - August 2019' desc='
        This was my first job. I spent most of my time working as the BBQ team leader,
        which gave me lots of practice with my leadership skills and managing a team
        with a common purpose.
    '}}
</div>

<section id="class-exp">
    <h1 class="section-heading">Classes Taken</h1>
    {{#each classes}}
        {{> class}}
    {{/each}}
</section>