<section>
    <h1 class="section-heading">Introduction</h1>
    <p>
Hello! I'm Jack and I'm currently in my final year at Oregon State University. 
My programming journey began at age 11 with creating choose-your-own text 
adventure games in Bash. Over the years, I've honed my skills as a software 
engineer and demonstrated leadership in various roles as an intern, leader, and 
teacher. I'm seeking a full-time position starting in late June, 2025 where I
can leverage my degree to make a meaningful impact.
    </p>

    <div class="skill-lists">
        <div class="proficiencies">
            <h1 class="section-heading">Language Proficiencies</h1>
            <ul>
                <li class="list-item">C/C++</li>
                <li class="list-item">C#</li>
                <li class="list-item">Python</li>
                <li class="list-item">MASM (Assembly)</li>
                <li class="list-item">HTML/CSS</li>
                <li class="list-item">JavaScript</li>
                <li class="list-item">Node.js</li>
            </ul>
        </div>

        <div class="skills">
            <h1 class="section-heading">Skills</h1>
            <ul>
                <li class="list-item">Computer architecture</li>
                <li class="list-item">Game development</li>
                <li class="list-item">Virtual reality development</li>
                <li class="list-item">Unity</li>
                <li class="list-item">Unreal Engine 4</li>
                <li class="list-item">Leadership</li>
                <li class="list-item">Team communication</li>
                <li class="list-item">Music</li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h1 class="section-heading">Featured Projects</h1>
    <div class="projects-div">
        <div class="project-div">
            <div class="project-header">
                <h2 class="section-heading">Minecraft from OpenGL</h2>
                <a class="github-button" href=
                    "https://github.com/jackhart591/Minecraft-OpenGL" 
                    data-size="large" aria-label="Link to project">
                    Link to project
                </a>
            </div>
            <div class="image-section">
            </div>
            <p>
For my graphics programming class' final project, I recreated Minecraft's 
terrain generation from raw OpenGL. I first had to devise a way to organize 
objects into chunks and then how to position those chunks properly. Once that 
was working, I had to research Perlin Noise and figure out how to implement it 
in such a way that it resembles the terrain generation of Minecraft. 
            </p>
        </div>

        <div class="project-div">
            <div class="project-header">
                <h2 class="section-heading">Starship Scale</h2>
                {{!-- <a class="github-button" href=
                    "https://anahatm.itch.io/starship-scale" 
                    data-size="large" aria-label="Link to project">Link to 
                    project
                </a> --}}
            </div>
            <div class="image-section">
            </div>
            <p>
A game that was made for the GMTK Game Jam 2024. I and a few others created this 
game from start to finish in less than 4 days. It ended up being much more 
popular than we expected, being among the top 30 ranked games of 7,000 entries. 
As the player, you must dodge asteroids and bullets while you build up your ship 
and its capabilities by purchasing new parts and attaching them to your ship.
            </p>
        </div>
    </div>
</section>

<section id="biography">
    <h1 class="section-heading">Biography</h1>
    <p>
I started programming when I got my first computer at age 10. I started with 
some basic text adventure games written in bash using the notepad editor. After 
that, I learned how to make Minecraft mods using Java which eventually led to me 
learning how to make games using Game Maker Studio and Unity. By the time I was 
out of middle school, I already was able to create some basic 3D games. <br/> 
<br/>
In high school, I started taking formal computer science classes. I took 
Computer Science I and II as well as Advanced Computer Science. We learned 
Pascal, Java, and C++ in each of those classes respectively. I also took web 
development courses through that teacher, learning the basics of HTML and CSS 
using Bootstrap. After taking the three computer science classes, I was invited 
to join the school's tech support team in which I helped teachers whenever they 
ran into tech issues. I also took Advanced Computer Projects after that in which 
we were allowed to spend time working on whatever project interested us. I spent 
that time learning how to use Unreal Engine 4, and made a really robust 
animation system for 3rd person games which you can find 
<a class="visible-anchor" href="https://coffeefox79.itch.io/advanced-movement-project">
here</a>. <br/> 
<br/>
While in high school, I also participated in clubs. Namely, I joined the 
robotics club my freshman year. This was the first year of its existence so I 
and the other members were responsible for creating a sustainable club that 
would last past our time in the club. By my Junior year, I was the team captain 
and our team went to regionals. It taught me a lot about leadership and myself. 
Specifically, I learned that I have a tendency to do everything myself and 
allowing myself to lean on my fellow leaders allows me to focus on the bigger
picture. These leadership skills that I learned in this time are still things I 
use today, especially in my presidency of the Video Game Development Club. <br/> 
<br/>
I also participated in colorguard during high school. Colorguard is a 
combination of ballet and technique using equipment such as flags, rifles, and 
sabres. They typically accompany the marching band, however, there are 
non-marching band guards. I also ended up in a leadership role in this group, 
for which I took summer classes for leadership. In these classes, I learned a 
lot about creating that human connection as a leader and using it to get the 
best out of your team. Participating in this group gave me a lot of lessons on 
hard work, being relied on in a group, and allowed me to learn more about myself 
and how I wanted to express myself. <br/> <br/>
Now, I am going to college at Oregon State University. I joined the Video Game 
Development Club as a freshman, and as a Junior, I became president. I've 
organized trips to Portland for our members so they could participate in the 
Global Game Jam. I've also hosted game jams here in Corvallis to give our 
members a space to network with other people interested in the game development 
field as well as encourage them to join us in game jams to develop and learn 
new skills. Eventually, I was able to make our club part of the International
Game Developer's Association. Bringing us to the world stage where we were able
to meet and work with so many amazing professionals all over the world. <br/> 
<br/>
From my participation in the club, I heard about a job opportunity with Dr. De 
Amicis. This ended up turning into a three year position as a undergrad research 
project assistant. In my time working there, I performed major revisions to the 
code base including rewriting all the VR user interaction code as well as 
developing many major features. By the end of my time there, I was considered 
the most well-informed developer on our code base. <br/><br/>
My work there eventually led me to securing an internship with Booz Allen 
Hamilton. I flew over to Baltimore for the summer of 2023 to be contracted out 
to the Laboratory for Physical Sciences. There, I worked for the Modeling, 
Simulation, and Emulation team performing data analysis on a new experimental 
architecture of computer. A full overview of my project, its implementation, and
results is available <a  class="visible-anchor" href="https://drive.google.com/file/d/1ryqNyEzHlkWa94P2gEb1VBb82sCi6wFy/view?usp=sharing">
here</a>. <br/> <br/>
In addition to this internship, I also worked as a colorguard director and 
a camp counselor for a Id Tech, a kid's STEM education camp. I did a spring 
break camp as well as the following winter break camp. All three of these 
experiences taught me so many things about leadership and communication that 
I've been able to apply to all areas of my life.
    </p>
</section>