html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  font-size: 20pt;
  margin: 6px;
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 16pt;
  }
}

h2 {
  font-size: 16pt;
  margin: 6px;
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 12pt;
  }
}

p {
  margin: 6px;
  font-size: 13pt;
}
@media only screen and (max-width: 480px) {
  p {
    font-size: 10pt;
  }
}

ul {
  list-style-type: circle;
  padding: 2%;
}
@media only screen and (max-width: 480px) {
  ul li {
    font-size: 8pt;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #634d41;
  color: #c6ad8f;
}

html {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

div {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15%;
  margin-top: 1%;
  margin-bottom: 7%;
}
@media only screen and (max-width: 900px) {
  main {
    padding: 0 2%;
    width: 96%;
  }
}

.section-heading {
  text-align: center;
}

a.visible-anchor {
  text-decoration: underline;
}

section {
  display: flex;
  width: 70%;
  margin-bottom: 1%;
  flex-direction: column;
  background-color: #885053;
  padding: 2%;
  border-radius: 25px;
}
@media only screen and (max-width: 900px) {
  section {
    width: 80vw;
    border-radius: 15px;
  }
}

footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #885053;
  width: 100%;
  height: 6vh;
  padding-left: 1%;
  align-items: center;
}

header {
  background-color: #885053;
}
header h1 {
  margin: 0 0 0 0;
  padding: 10px 0 10px 10px;
  font-weight: lighter;
}
header ul {
  padding: 0;
  padding-left: 10px;
  padding-bottom: 5px;
}
header li {
  display: inline-flex;
  flex-direction: row;
  margin: 0 10px 0 10px;
}
header li a {
  font-size: 16pt;
  text-decoration: none;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header li.navlink-active {
  border-bottom: 2px solid #5A2328;
}
header a {
  margin-left: 1%;
  margin-right: 1%;
}

#exp-div {
  flex-wrap: wrap;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  #exp-div {
    width: 90%;
  }
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 1%;
  padding: 3%;
}
.exp h1 {
  font-size: 18pt;
  margin-bottom: 1%;
}
@media only screen and (max-width: 480px) {
  .exp h1 {
    font-size: 12pt;
  }
}
.exp h2 {
  font-size: 12pt;
  margin-bottom: 1%;
}
.exp p {
  width: 75%;
}
.exp ul {
  margin-left: 2%;
}

.class {
  flex-wrap: wrap;
  flex-direction: column;
}

#class-exp {
  width: 66%;
  margin-top: 1%;
}
@media only screen and (max-width: 900px) {
  #class-exp {
    width: 90%;
    margin-bottom: 10%;
  }
}

#scraper-desc {
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.skill-lists {
  display: flex;
  flex-basis: 100%;
  margin-top: 1%;
  justify-content: center;
  align-self: center;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .skill-lists {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .skill-lists h1 {
    font-size: 10pt;
    margin: 1%;
  }
}
.skill-lists div {
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .skill-lists div {
    width: 80%;
  }
}
.skill-lists .skills {
  margin-left: 1%;
}
.skill-lists .skills ul {
  margin-left: 43%;
}
@media only screen and (max-width: 900px) {
  .skill-lists .skills ul {
    margin-left: 10%;
  }
}
.skill-lists .proficiencies {
  margin-right: 1%;
}
.skill-lists .proficiencies ul {
  margin-left: 19%;
}

.project-header {
  display: block;
}
.project-header h2 {
  float: left;
}
.project-header a {
  float: left;
}
.project-header span {
  float: right;
}

#biography {
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  #biography {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 480px) {
  #biography {
    margin-bottom: 10%;
  }
}

.project-div {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
  width: 40%;
  margin: 2% 0;
}
@media only screen and (max-width: 900px) {
  .project-div {
    width: 90%;
  }
}

.projects-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section {
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.image-section {
  display: flex;
  justify-content: center;
}

.project-heading {
  display: block;
  width: 100%;
}
.project-heading a {
  float: left;
}
.project-heading span {
  float: right;
}

.resume-div {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .resume-div {
    width: 90%;
    height: 10%;
  }
}

iframe {
  position: relative;
  width: 100%;
  height: 1100px;
  border: none;
}
@media only screen and (max-width: 900px) {
  iframe {
    height: 900px;
  }
}
@media only screen and (max-width: 480px) {
  iframe {
    height: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
