#exp-div {
    flex-wrap: wrap;
    width: 70%;
    // margin-left: 15%;
}

.exp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    // flex-basis: 43%;
    margin: 1%;
    padding: 1%;

    h1 {
        font-size: 18pt;
        margin-bottom: 1%;
    }
    
    h2 {
        font-size: 12pt;
        margin-bottom: 1%;
    }

    p {
        width: 75%;
    }

    ul {
        margin-left: 2%;
    }
}

.class {
    flex-wrap: wrap;
    flex-direction: column;
}

#class-exp {
    width: 66%;
    margin-top: 1%;
}

#scraper-desc {
    margin-left: 1%;
    padding-left: 2%;
    padding-right: 2%;
}