.skill-lists {
    display: flex;
    flex-basis: 100%;
    margin-top: 1%;
    justify-content: center;
    align-self: center;
    width: 70%;

    div {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skills {
        margin-left: 1%;
    }

    .proficiencies {
        margin-right: 1%;
    }
}

#biography {
    padding: 0 1%;
}