.skill-lists {
    display: flex;
    flex-basis: 100%;
    margin-top: 1%;
    justify-content: center;
    align-self: center;
    width: 70%;

    div {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skills {
        margin-left: 1%;
    
        ul {
            margin-left: 43%;
        }
    }

    .proficiencies {
        margin-right: 1%;
    
        ul {
            margin-left: 19%;
        }
    }
}

.project-header {
    display: block;
    h2 {
        float: left;
    }

    a {
        float: left;
    }

    span {
        float: right;
    }
}

#biography {
    padding: 20px;

    @include devices(phone) {
        margin-bottom: 10%;
    }

    @include devices(tablet) {
        margin-bottom: 5%;
    }
}

.project-div {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    width: 40%;
    margin: 2% 0;
}

.projects-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

