.project-section {
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
}

.image-section {
    display: flex;
    justify-content: center;
}

// .project-img {
//     align-self: end;
// }

.project-heading {
    display: block;
    width: 100%;

    a {
        float: left;
    }

    span {
        float: right;
    }
}