section {
    display: flex;
    width: 70%;
    margin-bottom: 1%;
    flex-direction: column;
    background-color: $secondary-bg-color;
    padding: 2%;
    border-radius: 25px;

    @include devices(tablet) {
        width: 80vw;
    }
}