header {
    background-color: $secondary-bg-color;

    h1 {
        margin: 0 0 0 0;
        padding: 10px 0 10px 10px;
        font-weight: lighter;
    }

    ul {
        padding: 0;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    li {
        display: inline-flex;
        flex-direction: row;
        margin: 0 10px 0 10px;

        a {
            font-size: 16pt;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li.navlink-active {
        border-bottom: 1px solid rgb(77, 77, 77);
    }


    a {
        margin-left: 1%;
        margin-right: 1%;
    }
}