$primary-bg-color: #404E4D;
$secondary-bg-color: #885053;
$text-color: #c6ad8f;
$header-color: #c6ad8f;

$other-color: #F6F4F2;
$other-other-color: #5A2328;

$small-screen: 1024px;
$tablets: 900px;
$phones: 480px;